<style>
@media only screen and (max-width: 767px){
  .navbar-nav{
    background-color: rgb(255, 255, 255);
  }
}

.mynav{
  display: flex;
  justify-content: space-between;
}
    .btn-search{
      background-color: #fe424d;
      color:white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem 0 1rem;
      border-radius: 25px;
     
  
    }
   
    .btn-search:hover{
      background-color: #fe424d;
      color:white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem 0 1rem;
      border-radius: 25px;
      
    }
    .btn-search i{
      margin-right: 0.5rem;
    }
 
 .inp-search{
  border-radius: 25px;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 1rem;
 }
</style>

<nav class="navbar  navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 inp-search" type="search" placeholder="Search   destinations" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Airbnb your home</a>
        <% if(!currUser){ %>
        <!-- undefined || not logged in -->
        <a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log In</b></a>
        <% } %> <%if(currUser){%>
        <!-- Returns object of user ||logged in -->
        <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% }%>
      </div>
    </div>
  </div>
</nav>
