<% layout("layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="col-6 offset-3">
      <br />
      <h3>LogIn on WanderLust</h3>

      <form
        class="needs-validation mt-4"
        method="POST"
        action="/login"
        novalidate
      >
        <div class="form-group mb-4">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Enter username"
            required
          />
          <div class="invalid-feedback">username required</div>
        </div>

        <div class="form-group mb-4">
          <label for="password" class="form-label">password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            required
          />
          <div class="invalid-feedback">Password required</div>
        </div>
        <button type="submit" class="btn mb-4 btn-success">LogIn</button>
      </form>
    </div>
  </div>
</body>
